<h1><%= @kid.name %></h1>

<h2>Age: <%= @kid.age %></h2>
<p>Feeling: <%= @kid.feeling %></p>

<h3>Candy Count: <%= @candies.count %></h3>
<ul>
  <% @candies.each do |candy| %>
    <li>Name: <%= candy.name %></li>
  <% end %>
</ul>

<form action="/kids/<%= @kid.id %>/pig-out" method="POST">
  <input type="hidden" name="_method" value="PATCH">
  <label for="consumption">How many candies should this kid eat? </label><input type="number" id="consumption" name="consumption">
  <input type="submit" value="MANGIA!">
</form>

<a href="/houses">Go trick-or-treating</a>