<h1><%= @house.address %></h1>

<h2>Candies for the taking!</h2>
<% @house.unclaimed_candies.each do |candy| %>
  <ul>
    <li><%= candy.name %></li>
  </ul>
<% end %>

<form action="/houses/<%=@house.id%>/trick-or-treat" method="POST">
  <input type="hidden" name="_method" value="PATCH">
  <% @kids.each do |kid| %>
    <input type="radio" name="kid_id" value="<%= kid.id %>"> <%= kid.name %><br>
  <% end %>
  <input type="submit" value="Trick or treat!">
</form>

<a href="/houses/<%=@house.id%>/edit">Edit this house</a>